div {
    padding: 10px;
    background-color: #cfd8dc;
    height: 100%;
    text-align: center;
    mat-card.mat-card {
        text-align: center;
        height: max-content;
        width: 70%;
        margin: 0 auto;
        background: #ffffff;
    }
    h1 {
        text-align: center;
        font-size: 100px;
        color: #9ea7aa;
        text-shadow: black;
        user-select: none;
    }
}